body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}


#app {
    margin: 5em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}


  .single-new-arrival:hover .popular-caption {
    -webkit-box-shadow: 0 13px 36px rgba(29, 37, 71, 0.05)
  }
  
  .single-new-arrival:hover .popular-caption h3 a {
    color: inherit;
    text-decoration: underline
  }
  
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.new-arrival .single-new-arrival .popular-caption h3 a {
		font-size: 17px
	}
}

@media (max-width: 575px) {
	.new-arrival .single-new-arrival .popular-caption h3 a {
		font-size: 20px
	}
}

.new-arrival .single-new-arrival .popular-caption .rating i {
	font-size: 15px;
	color: #FBBA42
}

.new-arrival .single-new-arrival .popular-caption span {
	color: #444444;
	font-size: 18px;
	font-weight: 500;
	display: block
}

.single-new-arrival:hover .popular-img .favorit-items {
	opacity: 1;
	visibility: visible;
	right: 20px;
	transform: scale(1.08)
}

.new-arrival .single-new-arrival .popular-img {
	overflow: hidden;
	position: relative
}

.new-arrival .single-new-arrival .popular-img img {
	width: 100%
}

.new-arrival .single-new-arrival .popular-img .favorit-items {
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	transform: scale(1);
	cursor: pointer
}

.new-arrival .single-new-arrival .popular-img .favorit-items span {
	color: #333333;
	font-size: 30px;
	cursor: pointer
}

.new-arrival .single-new-arrival .popular-img .favorit-items img {
	width: 44px;
	height: 44px
}

.new-arrival .single-new-arrival .popular-caption {
	border: 1px solid #F6F8FE;
	padding: 31px 0;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

.new-arrival .single-new-arrival .popular-caption h3 a {
	font-weight: 500;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	text-decoration: underline transparent;
	font-family: "Poppins", sans-serif
}
.new-arrival .single-new-arrival .popular-img {
	overflow: hidden;
	position: relative
}

.new-arrival .single-new-arrival .popular-img img {
	width: 100%
}

.new-arrival .single-new-arrival .popular-img .favorit-items {
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	transform: scale(1);
	cursor: pointer
}

.new-arrival .single-new-arrival .popular-img .favorit-items span {
	color: #333333;
	font-size: 30px;
	cursor: pointer
}


.new-arrival .single-new-arrival .popular-img .favorit-items img {
	width: 44px;
	height: 44px
}

.new-arrival .single-new-arrival .popular-caption {
	border: 1px solid #F6F8FE;
	padding: 31px 0;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}

.new-arrival .single-new-arrival .popular-caption h3 a {
	font-weight: 500;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	text-decoration: underline transparent;
	font-family: "Poppins", sans-serif
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.new-arrival .single-new-arrival .popular-caption h3 a {
		font-size: 17px
	}
}

@media (max-width: 575px) {
	.new-arrival .single-new-arrival .popular-caption h3 a {
		font-size: 20px
	}
}

.new-arrival .single-new-arrival .popular-caption .rating i {
	font-size: 15px;
	color: #FBBA42
}

.new-arrival .single-new-arrival .popular-caption span {
	color: #444444;
	font-size: 18px;
	font-weight: 500;
	display: block
}

.single-new-arrival:hover .popular-img .favorit-items {
	opacity: 1;
	visibility: visible;
	right: 20px;
	transform: scale(1.08)
}

.single-new-arrival:hover .popular-caption {
	-webkit-box-shadow: 0 13px 36px rgba(29, 37, 71, 0.05)
}

.single-new-arrival:hover .popular-caption h3 a {
	color: inherit;
	text-decoration: underline
}